version: "3.7"

networks:
    traefik:
        external: true
    message_broken:
        driver: overlay
        attachable: true
        name: message_broken

services:
    rabbitmq-server:
      image: "rabbitmq:3-management"
      hostname: "rabbitmq-server"
      environment:
          RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
      ports:
          #- "15672:15672"
          - "5672:5672"
      volumes:
          - /root/config/rabbitmq:/etc/rabbitmq/
          #- "./autocluster-0.4.1.ez:/usr/lib/rabbitmq/lib/rabbitmq_server-3.5.5/plugins/autocluster-0.4.1.ez"
      networks:
        - traefik
        - message_broken
      deploy:
        labels:
          - "NAME=rabbitmq1"
          - "traefik.docker.network=traefik"
          - "traefik.port=8001"
          - "traefik.backend=rabbitmq"
          - "traefik.frontend.rule=Host:{{mb_domain}}"
        mode: replicated
        replicas: 1
        placement:
          constraints: [node.role == worker]
        restart_policy:
          condition: on-failure