version: '3.7'

networks:
    traefik:
        external: true
    message_broken:
        external: true
    db-dotnet:
        external: true
    metrics:
        driver: overlay
        attachable: true
        name: metrics

services:
  device-api:
    image: arnobirchler/asp.net-core-autorun:latest
    environment:
    - APPNAME=atlantis-project-api-device.dll
    deploy:
      placement:
        constraints: [ node.labels.techno == csharp ]
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.docker.network=traefik"
        - "traefik.port=80"
        - "traefik.backend=dotnet-device-api"
        - "traefik.frontend.rule=Host:{{device_domain}}"
    volumes:
      - /root/app/dotnet/device-api:/app
    networks:
      - traefik
      - metrics
      - message_broken
  calculation-api:
    image: arnobirchler/asp.net-core-autorun:latest
    environment:
    - APPNAME=APICalculation.dll
    deploy:
      placement:
        constraints: [ node.labels.techno == csharp ]
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.docker.network=traefik"
        - "traefik.port=80"
        - "traefik.backend=dotnet-calculation-api"
        - "traefik.frontend.rule=Host:{{calculation_domain}}"
    volumes:
      - /root/app/dotnet/calculation-api:/app
    networks:
      - db-dotnet
      - traefik
  calculation-engine:
    image: arnobirchler/asp.net-core-autorun:latest
    environment:
    - APPNAME=projet-atlantis-calculation-engine.dll
    deploy:
      placement:
        constraints: [ node.labels.techno == csharp ]
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.docker.network=traefik"
        - "traefik.port=80"
        - "traefik.backend=dotnet-calculation-engine"
        - "traefik.frontend.rule=Host:{{calculation_domain}};Path:/api/engine/metrics"
    volumes:
      - /root/app/dotnet/calculation-engine:/app
    networks:
      - db-dotnet
      - traefik
  simulator:
    image: arnobirchler/asp.net-core-autorun:latest
    environment:
    - APPNAME=project-atlantis-simulator.dll
    deploy:
      placement:
        constraints: [ node.labels.techno == csharp ]
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
    volumes:
      - /root/app/dotnet/simulator:/app
    networks:
      - metrics
  send-command:
    image: arnobirchler/asp.net-core-autorun:latest
    environment:
    - APPNAME=project-atlantis-send-command.dll
    deploy:
      placement:
        constraints: [ node.labels.techno == csharp ]
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - /root/app/dotnet/send-command:/app
    networks:
      - message_broken
