version: '3.7'

networks:
  traefik:
    driver: overlay
    attachable: true
    name: traefik

services:
#  traefik:
#    image: traefik:latest
#    ports:
#      - "80:80"
#      - "443:443"
#    networks:
#      - traefik
#    command:
#      - --api
#      - --docker
#      - --docker.swarmmode
#      - --docker.watch
#      - --metrics
#      - --metrics.prometheus
#      - --accessLog
#    deploy:
#      placement:
#        constraints: [ node.role == manager ]
#      mode: replicated
#      replicas: 1
#      restart_policy:
#        condition: on-failure
#      labels:
#        - "traefik.docker.network=traefik"
#        - "traefik.port=8080"
#        - "traefik.backend=traefik"
#        - "traefik.frontend.rule=Host:{{proxy_domain}}"
#    volumes:
#      - "/var/run/docker.sock:/var/run/docker.sock"
#      - "/var/cert:/certificates"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    deploy:
      placement:
        constraints: [ node.role == manager ]
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - "/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    networks:
      - traefik
