
upstream auth {
    server python_auth:8003;
}
upstream back {
    server java_forum-backend:8080;
}
upstream front {
    server angular_forum-backend:4200;
}
server {
    listen 80;
    server_name {{auth_domain}};

    location / {
        proxy_pass http://auth;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
}
server {
    listen 80;
    server_name {{api_domain}};

    location / {
        proxy_pass http://back;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
}
server {
    listen 80;
    server_name {{forum_domain}};

    location / {
        proxy_pass http://front;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host localhost;
        proxy_redirect off;
    }
}