debug = false

logLevel = "INFO"
defaultEntryPoints = ["https", "http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoint.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      certFile = "/certificates/fullchain.pem"
      keyFile = "/certificates/privkey.pem"

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "{{domain}}"
watch = true
exposedByDefault = false
