# Maintainer: Jakub Hajek, jakub.hajek@cometari.com
#
# docker stack deploy -c stack-elastic.yml elastic
#
# The stack creates Elasticsearch cluster consiting of
# - 3 dedicated master nodes in order to keep quorum
# - 4 dedicated data nodes to manage CRUD,
# - 2 coordination node acting like kind of load balancer in multi instance environments
#
#
# Incoming requests to Elasticsearch REST API are managed through a coordination node.
#
# Kibana is deployed in Esnet and Proxy network and exposed via Traefik via HTTPS.
# Please update the access URL to kibana (label section) and add this DNS entry to
# allow LetsEncrypt to generate a certificate.
#
# Make sure that you have 4 nodes with hostnames: node-1, node-2, node-3, node-4 because
# constraints and volume persistence refers to the hostname or update the configuration accordingly.
#
# Make sure to tune your VM to run Elasticsearch cluster by executing on each server:
# sudo sysctl -w vm.max_map_count=262144
# add --default-ulimit memlock=-1 to Dockerd
# You can manage that by executing this command on each server consiting Swarm cluter: 
# 
# sudo "sed -i '/ExecStart=\/usr\/bin\/dockerd/ s/$/--default-ulimit memlock=-1/' /etc/systemd/system/docker.service.d/10-machine.conf"

version: "3.7"

services:
#  coordination:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
#    healthcheck:
#      test: curl -fs http://localhost:9200/_cat/health || exit 1
#      interval: 30s
#      timeout: 5s
#      retries: 3
#      start_period: 45s
#    environment:
#      - discovery.zen.minimum_master_nodes={{number_es_master}}
#      - discovery.zen.ping.unicast.hosts={% for id in range(0, ( number_es_master|int ) ) %}elastic_master{{loop.index}}{% if not loop.last %}, {% endif %} {%endfor%} 
#      - discovery.zen.ping_timeout=5s
#      - discovery.zen.commit_timeout=5s
#      - node.master=false
#      - node.data=false
#      - node.ingest=false
#      - cluster.remote.connect: false
#      - node.name=es-coordination
#      - cluster.name="docker-swarm-cluster"
#      - network.host=0.0.0.0
#      - action.destructive_requires_name=true
#    configs:
#      - source: jvm-options-coordination
#        target: /usr/share/elasticsearch/config/jvm.options
#    networks:
#      - esnet
#    ports:
#      - target: 9200
#        published: 9200
#        protocol: tcp
#        mode: host
#    deploy:
#      endpoint_mode: dnsrr
#      mode: "replicated"
#      replicas: 2
#      resources:
#        limits:
#          memory: 1G

{% for id in range(0, ( number_es_master|int ) ) %}
  master{{loop.index}}:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
    hostname: master{{loop.index}}
    healthcheck:
      test: curl -fs http://localhost:9200/_cat/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 45s
    environment: 
      - discovery.zen.minimum_master_nodes={{minimum_master_nodes}}
      - discovery.zen.ping.unicast.hosts={% for id in range(0, ( number_es_master|int ) ) %}master{{loop.index}}{% if not loop.last %}, {% endif %} {%endfor%}  
      - discovery.zen.ping_timeout=5s
      - discovery.zen.commit_timeout=5s  
      #- cluster.initial_master_nodes={% for id in range(0, ( number_es_master|int ) ) %}master{{loop.index}}{% if not loop.last %}, {% endif %} {%endfor%}  
      - cluster.remote.connect=false
      - node.master=true
      - node.data=false
      - node.ingest=false
      - node.name=master{{loop.index}}
      - cluster.name="docker-swarm-cluster"
      - network.host=0.0.0.0
      - action.destructive_requires_name=true
    configs:
      - source: jvm-options-master
        target: /usr/share/elasticsearch/config/jvm.options
    networks:
      - esnet
    volumes:
      - esmaster{{loop.index}}:/usr/share/elasticsearch/data
    deploy:
      endpoint_mode: dnsrr
      mode: "replicated"
      replicas: 1
      resources:
        limits:
          memory: 500m

{% endfor %}

{% for id in range(0, ( number_es_data|int ) ) %}
 #  data{{loop.index}}:
 #    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
 #    healthcheck:
 #      test: curl -fs http://localhost:9200/_cat/health || exit 1
 #      interval: 30s
 #      timeout: 5s
 #      retries: 3
 #      start_period: 45s
 #    environment:
 #      - discovery.zen.minimum_master_nodes={{minimum_master_nodes}}
 #      - discovery.zen.ping.unicast.hosts={% for id in range(0, ( number_es_master|int ) ) %}elastic_master{{loop.index}}{% if not loop.last %}, {% endif %} {%endfor%}  
 #      - discovery.zen.ping_timeout=5s
 #      - discovery.zen.commit_timeout=5s
 #      - node.master=false
 #      - node.data=true
 #      - node.ingest=false
 #      - node.name=es-data{{loop.index}}
 #      - cluster.name="docker-swarm-cluster"
 #      - network.host=0.0.0.0
 #      - action.destructive_requires_name=true
 #       - cluster.remote.connect: false
 #    configs:
 #      - source: jvm-options-data
 #        target: /usr/share/elasticsearch/config/jvm.options
 #    networks:
 #      - esnet
 #    volumes:
 #      - esdata{{loop.index}}:/usr/share/elasticsearch/data
 #    deploy:
 #      endpoint_mode: dnsrr
 #      mode: "replicated"
 #      replicas: 1
 #      resources:
 #        limits:
 #          memory: 1G

{% endfor %}

  kibana:
    image: docker.elastic.co/kibana/kibana:7.1.0
    environment:
      - "ELASTICSEARCH_URL=http://data1:9200"
    networks:
      - esnet
      - traefik
    deploy:
      labels:
        - "traefik.port=5601"
        - "traefik.docker.network=traefik"
        - "traefik.frontend.rule=Host:{{kibana_domain}}"
        - "traefik.backend=kibana"
      mode: replicated
      replicas: 1
      update_config:
        failure_action: rollback
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3

networks:
  esnet:
    driver: overlay
    attachable: true
    name: esnet
  traefik:
    external: true

volumes:
{% for id in range(0, ( number_es_master|int ) ) %}
  esmaster{{loop.index}}:
{% endfor %}

{% for id in range(0, ( number_es_master|int ) ) %}
  esdata{{loop.index}}:
{% endfor %}

  traefik-certificates:

configs:

  jvm-options-coordination:
    name: jvm-options-coordination
    file: config-es/jvm.coordination.options
  jvm-options-data:
    name: jvm-options-data 
    file: config-es/jvm.data.options
  jvm-options-master:
    name: jvm-options-master
    file: config-es/jvm.master.options
