# Maintainer: Jakub Hajek, jakub.hajek@cometari.com
#
# docker stack deploy -c stack-elastic.yml elastic
#
# The stack creates Elasticsearch cluster consiting of
# - 3 dedicated master nodes in order to keep quorum
# - 4 dedicated data nodes to manage CRUD,
# - 2 coordination node acting like kind of load balancer in multi instance environments
#
#
# Incoming requests to Elasticsearch REST API are managed through a coordination node.
#
# Kibana is deployed in Esnet and Proxy network and exposed via Traefik via HTTPS.
# Please update the access URL to kibana (label section) and add this DNS entry to
# allow LetsEncrypt to generate a certificate.
#
# Make sure that you have 4 nodes with hostnames: node-1, node-2, node-3, node-4 because
# constraints and volume persistence refers to the hostname or update the configuration accordingly.
#
# Make sure to tune your VM to run Elasticsearch cluster by executing on each server:
# sudo sysctl -w vm.max_map_count=262144
# add --default-ulimit memlock=-1 to Dockerd
# You can manage that by executing this command on each server consiting Swarm cluter: 
# 
# sudo "sed -i '/ExecStart=\/usr\/bin\/dockerd/ s/$/--default-ulimit memlock=-1/' /etc/systemd/system/docker.service.d/10-machine.conf"

version: "3.7"

services:
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
    container_name: es01
    environment:
      - node.name=es01
      - discovery.seed_hosts=es02
      - cluster.initial_master_nodes=es01,es02
      - cluster.name=docker-cluster
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - esdata01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - esnet
  es02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.0
    container_name: es02
    environment:
      - node.name=es02
      - discovery.seed_hosts=es01
      - cluster.initial_master_nodes=es01,es02
      - cluster.name=docker-cluster
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - esdata02:/usr/share/elasticsearch/data
    networks:
      - esnet


  kibana:
    image: docker.elastic.co/kibana/kibana:7.1.0
    environment:
      - SERVER_NAME={{kibana_domain}}
      - ELASTICSEARCH_HOSTS=http://{{elastic_search_domain}}:9200
    networks:
      - esnet
      - traefik
    deploy:
      labels:
        - "traefik.port=5601"
        - "traefik.docker.network=traefik"
        - "traefik.frontend.rule=Host:{{kibana_domain}}"
        - "traefik.backend=kibana"
      mode: replicated
      replicas: 1
      update_config:
        failure_action: rollback
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3

networks:
  esnet:
    driver: overlay
    attachable: true
    name: esnet
  traefik:
    external: true

volumes:
  esdata01:
    driver: local
  esdata02:
    driver: local
  traefik-certificates:

